.four-o-four{
    display: flex;
    justify-content: center;
    font-family: sans-serif, arial;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    .four-o-four{
        display: flex;
        justify-content: center;
        font-family: sans-serif, arial;
        color: #ffffff;
    }
}